// @import 'src/styles/helpers/_module';
// @use "sass:math";

// :host {
// 	display: block;
// 	color: #32363A;
// 	transform: none !important;
// }

// :host(.disabled) {
// 	background: #f5f5f5;
// 	color: #bdbdbd;
// }

.cx-hierarchy-node {
	// line-height: math.div(16px, 12px);
	// font-size: #{math.div(12px, 14px)}rem;

	border-bottom: 1px solid #e0e0e0;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	line-height: 2.33;
}
