<ng-container *ngIf="cart$ | async as cart">
    <div *ngIf="cart.totalItems > 0" class="cart-details-wrapper">
      <cx-cart-validation-warnings></cx-cart-validation-warnings>

      <h2 class="cx-total">
        {{ 'cartDetails.cartName' | cxTranslate: { code: cart.code } }}
      </h2>

      <cx-promotions
        [promotions]="
          (cart.appliedOrderPromotions || []).concat(
            cart.potentialOrderPromotions || []
          )
        "
      ></cx-promotions>

      <ng-container *ngIf="standaloneEntries$ | async as standaloneEntries">

        <cx-cart-item-list
          [items]="standaloneEntries"
          [cartIsLoading]="!(cartLoaded$ | async)"
          [promotionLocation]="promotionLocation"
          [options]="{
            isSaveForLater: false,
            optionalBtn: saveForLaterBtn
          }"
          [ngClass]="!standaloneEntries ? 'emptyList' : 'noneEmptyList'"
        ></cx-cart-item-list>
      </ng-container>
      <ng-container *ngFor="let bundle of bundles$ | async">
          <cx-hierarchy 
          [paddingPrefix]="12" 
          [tree]="bundle" 
          [template]="bundlesTemplate"
        >      
        </cx-hierarchy>
      </ng-container>
    </div>
</ng-container>

<ng-template let-ctx #saveForLaterBtn>
  <button
    *ngIf="selectiveCartEnabled"
    class="btn btn-tertiary cx-sfl-btn"
    [disabled]="ctx.loading"
    (click)="saveForLater(ctx.item)"
    type="button"
  >
    {{ 'saveForLaterItems.saveForLater' | cxTranslate }}
  </button>
</ng-template>

<ng-template #bundlesTemplate let-items
>
  <ng-template 
  [cxOutlet]="cartOutlets.CART_ITEM_LIST"
  [cxOutletContext]="{
    items: items,
    hasHeader: false,
  }"
  >
  </ng-template>
</ng-template>