<ng-container *ngIf="cart$ | async as cart">
  <ng-container *ngIf="{entries: entries$ | async, entryGroups: entryGroups$ | async, standaloneEntries: standaloneEntries$ | async, bundle: entries$ | async} as data">
    <!-- <ng-container *ngIf="{entries: entries$ | async, standaloneEntries: standaloneEntries$ | async} as data"> -->
    <div *ngIf="cart.totalItems > 0" class="cart-details-wrapper">
      <cx-cart-validation-warnings></cx-cart-validation-warnings>

      <h2 class="cx-total">
        {{ 'cartDetails.cartName' | cxTranslate: { code: cart.code } }}
      </h2>

      <cx-promotions
        [promotions]="
          (cart.appliedOrderPromotions || []).concat(
            cart.potentialOrderPromotions || []
          )
        "
      ></cx-promotions>

       <cx-cart-item-list
        [items]="data.standaloneEntries"
        [cartIsLoading]="!(cartLoaded$ | async)"
        [promotionLocation]="promotionLocation"
        [options]="{
          isSaveForLater: false,
          optionalBtn: saveForLaterBtn
        }"
        [ngClass]="!data.standaloneEntries ? 'emptyList' : 'noneEmptyList'"
      ></cx-cart-item-list>
      <ng-container *ngFor="let bundle of bundles$ | async">

          <cx-hierarchy 
          [paddingPrefix]="12" 
          [tree]="bundle" 
        > 
        </cx-hierarchy>
      </ng-container>
    </div>
  </ng-container>   
</ng-container>

<ng-template let-ctx #saveForLaterBtn>
  <button
    *ngIf="selectiveCartEnabled"
    class="btn btn-tertiary cx-sfl-btn"
    [disabled]="ctx.loading"
    (click)="saveForLater(ctx.item)"
    type="button"
  >
    {{ 'saveForLaterItems.saveForLater' | cxTranslate }}
  </button>
</ng-template>
