// @import 'src/styles/helpers/_mixins';

:host {
	.cx-hierarchy-node {
		cursor: pointer;
		user-select: none;
		outline: none;

		padding-right: 7px;
	}

	mat-checkbox {
		width: 100%;
	}

	::ng-deep mat-checkbox {
		.mat-checkbox-layout {
			display: flex !important;
			justify-content: space-between !important;
			flex: 1 1 auto !important;
		}

		.mat-checkbox-label {
			flex: 1 1 auto;
			// @include ellipsis-truncate;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.hidden {
		display: none;
	}
}

.asterisk {
	color: #bb0000;
}
