// @import 'src/styles/helpers/_module';

:host {
	background-color: white;

	.cx-hierarchy-node {
		cursor: pointer;
		user-select: none;
		outline: none;

		padding-top: 2px;
		padding-bottom: 2px;
		padding-right: 7px;
		display: flex;
		align-items: center;
		line-height: unset;

		&.hidden {
			display: none;
		}

		&:hover {
			background-color: #f7f7f7;
		}

		&.leaf-node {
			&:not(.show) {
				.cx-hierarchy-node__chevron,
				.cx-hierarchy-node__border {
					visibility: hidden;
				}
			}
			.mat-checkbox {
				padding-left: 0;
				display: flex;
				align-items: center;
			}
		}

		::ng-deep .mat-checkbox {
			&.show-label-on-hover {
				.mat-checkbox-label {
					visibility: hidden;
				}
			}

			.mat-checkbox-label {
				white-space: nowrap;
				color: #0a6ed1;
				font-weight: 500;
				height: 100%;
				align-items: center;
				display: flex;
			}

			&:hover {
				.mat-checkbox-label {
					text-decoration: underline;
				}
			}
		}

		&:hover {
			::ng-deep .mat-checkbox {
				&.show-label-if-has-children {
					.mat-checkbox-label {
						visibility: hidden;
					}
				}
				.mat-checkbox-label {
					visibility: visible;
				}
			}
		}

		&__expand {
			display: flex;
			align-items: center;
			width: 100%;
		}
		&__border {
			margin-right: 8px;
			width: 1px;
			height: 20px;
			border-right: 1px solid #e0e0e0;
		}
		&__chevron {
			display: flex;
			justify-items: center;

			mat-icon {
				font-size: small;
				position: relative;
				top: 2px;
				right: -3px;
				color: #0854a0;
			}
		}
		&__name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		&__fullRow {
			width: 100%;
			padding: 5px 0;
		}
	}

	&:not(.open) {
		cx-hierarchy-node {
			display: none;
		}
	}
}

.child-selector {
	display: none;
	flex: none;
	margin-left: auto;
}

.cx-hierarchy-node__expand:hover {
	.child-selector {
		display: block;
	}
}

.cx-hierarchy-node__expand {
	min-width: 0;
}
