// @import 'src/styles/helpers/_module';

.app-hierarchy-node.selectAllAble {
	justify-content: space-between;
	padding-right: 7px;

	.toggle-and-name {
		display: flex;
		align-items: center;
	}

	::ng-deep mat-checkbox .mat-checkbox-label {
		color: #0A6ED1;
	}
}
