// @import '../_variables.scss';
@import '../style/variables';
@import '../style/_mixins';
// @import 'src/styles/helpers/_module';

.cx-hierarchy-select {
  // display: block;
  // border: 1px solid #e0e0e0;
  // border-width: 1px 1px 0 1px;
  // color: $upscale-grey2;
  // // background: $white;
  // background-color: red;

  border: 1px solid var(--Medium-grey, #d3d6db);
  border-bottom: none;
  background: var(--BG-Light-grey, #f1f1f1);
}
