:host {
  > cx-hierarchy-node {
    display: none;
  }
}

:host(.open) {
  > cx-hierarchy-node {
    display: block;
  }
}

:host ::ng-deep cx-cart-item-list table {
  margin: 0;
  .cx-item-list-items tr {
    border-top: none;
  }
}

.cx-hierarchy-node.collapsible {
  cursor: pointer;
  user-select: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  font-size: 14px;
  min-height: 48px;

  .tree-icon {
    color: var(--Main-Secondary, #a1aabf);
  }

  .leaf-node-title {
    font-weight: 600;
  }

  // .leaf-node-edit {
  //   color: var(--Main-Primary, #2480c5);
  //   font-size: 16px;
  //   text-decoration-line: underline;
  // }
}
