.cx-hierarchy-node.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  background: var(--cx-color-inverse);

  // .node-edit {
  //   color: var(--Main-Primary, #2480c5);
  //   text-decoration-line: underline;
  // }
}
