//** Application variables
//## Fonts
//## Colors
//## Application Colors
//## Notifications Colors

// @import '@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/sass_variables.scss';
@import './sass_variables.scss';
// Fonts
$default-font: '72', Arial, Helvetica, sans-serif;
$base-font-size: 14px;

// Colors
$upscale-grey1: #212121;
$upscale-grey2: $sapTextColor;
$upscale-grey3: #616161;
$upscale-grey4: #757575;
$upscale-grey5: #9e9e9e;
$upscale-grey6: #bdbdbd;
$upscale-grey7: #e0e0e0;
$upscale-grey8: #eeeeee;
$upscale-grey9: #f5f5f5;
$upscale-grey10: #dbdbdb;
$upscale-grey11: #dcdbdc;
$upscale-grey12: #f9f9f9;
$upscale-grey13: #d9d9d9;
$upscale-grey14: #4b4b4b;
$upscale-grey15: #808080;
$upscale-grey16: #cdcdcd;

// Application Colors
$upscale-bg1: $sapBackgroundColor;
$upscale-bg2: $upscale-grey9;
$upscale-bg3: $upscale-grey3;
$upscale-bg4: $sapBaseColor;
$default-text: $sapTextColor;
$muted-text: $sapContent_LabelColor;
$upscale-primary: $sapBrandColor;
$upscale-error: $sapErrorColor;
$upscale-navy: $sapShellColor;
$upscale-blue: #0486e0;
$upscale-incomplete: #f7dda1;
$white: #ffffff;
$black: #000000;

// Notification Colors
$error: $sapErrorColor;
$warning: $sapWarningColor;
$info: $sapInformationColor;
$success: $sapSuccessColor;

// Navbar
$navbar-height: 48px;
$navbar-buttons-height: $navbar-height;

// Application Size
$min-app-width: 1024px;

// Footer
$footer-wizard-height: 6.156rem;

// Page header
$page-header-height: 54px;

// Page header space
$page-header-space: 48px;

// Assignment colors
$product-border: #aadac5;
$product-background: rgba(170, 218, 197, 0.5);
$article-border: #d4c5f9;
$article-background: rgba(212, 197, 249, 0.5);
$category-border: #7eb1ec;
$category-background: rgba(126, 177, 236, 0.5);
$none-border: #e0e0e0;
$none-background: rgba(224, 224, 224, 0.5);
$template-id-border: #ffbe76;
$template-id-background: rgba(255, 190, 118, 0.5);
$template-alias-border: #fbc531;
$template-alias-background: rgba(251, 197, 49, 0.5);
$source-border: #d35400;
$source-background: rgba(211, 84, 0, 0.5);
